{% load staticfiles %}

<html>
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'addressbook/css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header col-md-8">
                        <a class="navbar-brand" href="/">Address Book</a>
                    </div>
                    <ul class="nav navbar-nav col-md-4">
                      <li><a href="#" data-toggle="modal" data-target="#modal-add" data-id="">Add Contact</a></li>
                      <li><a href="{% url 'addressbook:import_csv' %}">Import CSV</a></li>
                      <li><a href="{% url 'addressbook:export_csv' %}">Export CSV</a></li>
                      <li><a href="{% url 'addressbook:logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $('#add-contact').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: {% url 'addressbook:add_contact' %},
                data: {
                    first_name: $('#id_first_name').val(),
                    last_name: $('#id_last_name').val(),
                    contact_number: $('#id_contact_number').val(),
                    address: $('#id_address').val(),
                },
                success: function(json_response) {
                    $.get("/", function(json_response) {
                        $('#contact-table').html($(json_response).find('#contact-table').html());
                        $('#add-contact')[0].reset();
                    }); 
                },
                error: function(json_response) {
                  alert(JSON.stringify(json_response))
                },
            });
            $('#modal-add').modal('hide');
        });
    </script>
    {% endblock %}
</html>
